
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h2>LabNCode Profesor</h2>
        <br><br>
    </header>
</div>
<hr>
<!-- Page Features -->
<div class="container" ng-controller="LabController as labC">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <section class="tab" ng-controller="TabController as tab">
                            <ul class="nav nav-pills">
                                <li ng-class="{active : tab.isSet(1)}">
                                    <a ng-click="tab.setTab(1)">Laboratorios</a>
                                </li>
                                <li ng-class="{active : tab.isSet(2)}">
                                    <a ng-click="tab.setTab(2)">Crear Laboratorio</a>
                                </li>
                            </ul>
                            <div ng-show="tab.isSet(2)">
                                <h4>Laboratorio</h4>
                                <form name="form2" ng-controller="laboratorio as sub" ng-submit="sub.addLaboratorio(labC.getUser())" >
                                    <label>Nombre</label><br>
                                    <input  class="form-control" required  ng-model="sub.lab.nombre"><br>
                                    <label>Materia</label><br>
                                    <input  class="form-control" required  ng-model="sub.lab.materia.sigla"><br>
                                    <label>Fecha Activacion</label><br>
                                    <input   type="date" placeholder="yyyy-MM-dd" class="form-control" ng-model="sub.lab.fechaAct" required><br>
                                    <label>Fecha Desactivacion</label><br>
                                    <input   type="date" placeholder="yyyy-MM-dd" class="form-control" ng-model="sub.lab.fechaDesc" required><br>
                                    <button  class="btn btn-primary" type="submit">Agregar</button>
                                </form> 
                            </div>
                            <div ng-show="tab.isSet(1)">
                                <h3>Laboratorios</h3>
                                <div ng-controller="LaboratorioGet as getLab">
                                    <div class="row">
                                        <div ng-repeat="lab in getLab.l" > Nombre: {{" " + lab.nombre}}
                                            <br> Activacion: {{" " + lab.fechaAct}}
                                            <br>
                                            <form ng-controller="SubmitLaboratorio as sublab" ng-submit="sublab.pasar(lab.nombre)">
                                                <button  class="btn btn-primary" type="submit">Ingresar</button> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Chat</h4>
                </div>
                <div class="panel-body">
                    <div id="conversationDiv">
                        <div class="form-group">
                            <label>Enviar a:</label><br>
                            <input type="text" placeholder="idSala" style="width:100%;">
                            <p></p>
                            <textarea id="response" style="width:100%; height:60%;" disabled></textarea>
                            <p></p>
                            <input id="message" type="text" placeholder="Escriba su mensaje aquí..." style="width:83%;"><button id="send" class="btn btn-primary btn-xs">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

