 <div class="container">
            <!-- Jumbotron Header -->
            <header class="jumbotron hero-spacer">
                <h2>LabNCode Profesor</h2>
                <br><br>
            </header>
        </div>
        <hr>
        <!-- Page Features -->
        <div class="container" ng-controller="LabController as labC">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{{"Laboratorio " + labC.getLaboratorio()}}</h4>
                        </div>
                        <div class="panel-body">
                            <div>
                                <section class="tab" ng-controller="TabController as tab">
                                    <ul class="nav nav-pills">
                                        <li ng-class="{active : tab.isSet(1)}">
                                            <a ng-click="tab.setTab(1)">Monitoreo</a>
                                        </li>
                                        <li ng-class="{active : tab.isSet(2)}">
                                            <a ng-click="tab.setTab(2)">Enunciado</a>
                                        </li>
                                    </ul>
                                    <div ng-show="tab.isSet(2)">
                                        <h4>Agregar punto</h4>
                                        <form name="form2" ng-controller="submit as sub" ng-submit="sub.addPunto(tab.puntos)" >
                                            <label>Nombre</label><br>
                                            <input  class="form-control" required  ng-model="sub.punto.nombre"><br>
                                            <textarea class="form-control" placeholder="Descripción 200 caracteres máximo" ng-model="sub.punto.descripcion" required></textarea><br>
                                            <input  class="form-control" type="number" placeholder="Peso 0 - 100" ng-model="sub.punto.peso" required><br>
                                            <button  class="btn btn-primary" type="submit">Agregar</button>
                                        </form>
                                        <h4>Puntos</h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Descripción</th>
                                                    <th>Peso</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-controller="submit as sub">
                                                <tr ng-repeat="punto in tab.puntos">
                                                    <th>{{punto.nombre}}</th>                                                    
                                                    <td><textarea class="form-control" ng-model="punto.descripcion" required></textarea></td>
                                                    <td><input  class="form-control" type="number" ng-model="punto.peso" required ></td>
                                                    <td>
                                                        <form name="form2"  ng-submit="sub.updatePunto(tab.puntos, punto)" >
                                                            <button class="btn-warning btn-sm">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button>
                                                        </form>
                                                        <form name="form2" ng-submit="sub.removePunto(tab.puntos, punto)" >
                                                            <button class="btn-danger btn-sm" >
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                            </button>
                                                        </form>
                                                    </td>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="tab.isSet(1)">
                                        <h3>Grupos</h3>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Porcentaje</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr  ng-repeat="grupo in tab.grupos">
                                                    <th>{{grupo.nombre}}</th>                                                    
                                                    <th>{{grupo.porcentaje}}</th> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-include="'templates/chat.html'"></div>
                </div>
            </div>
