 <!-- Navigation -->
        <div ng-include="'templates/page-header.html'"></div>
        <!--ng-controller="LabController as lab" ng-init="init()"-->
        <div class="container" >
            <!-- Jumbotron Header -->
            <header class="jumbotron hero-spacer">
                <h2>LabNCode  Estudiante</h2>
                <br><br>
            </header>
        </div>
        <hr>
        <!-- Page Features -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Área de Código</h4>
                        </div>
                        <div class="panel-body" ng-controller="CodigoController as code">
                            <ul class="nav nav-pills">
                                <li ng-class="{active : code.isSet(1)}">
                                    <a ng-click="code.setTab(1)">Codigo</a>
                                </li>
                                <li ng-class="{active : code.isSet(2)}">
                                    <a ng-click="code.setTab(2)">Enunciado</a>
                                </li>
                            </ul>
                            <br>
                            <div ng-show="code.isSet(1)">
                                <textarea id="code" style="width: 100%; min-height: 400px;" ></textarea>
                                <editor></editor>
                            </div>
                            <div ng-show="code.isSet(2)">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">90% Complete</span>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Peso</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <form class="form-group">
                                            <tr ng-repeat="punto in code.puntos">
                                                <td>{{punto.nombre}}</td>
                                                <td>{{punto.descripcion}}</td>
                                                <td>{{punto.peso}}%</td>
                                                <td><button type="submit" class="btn-success">Terminar</button></td>
                                            </tr>
                                        </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-include="'templates/chat.html'"></div>
                </div>
            </div>
            <hr>
        </div>
