

<!DOCTYPE html>
<html lang="en" ng-app="estudiante" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profesor</title>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="../css/heroic-features.css" rel="stylesheet">
    <!--scripts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--script type="text/javascript" src="js/script.js"></script-->
    <script src="../js/sockjs-0.3.4.js"></script>
    <script src="../js/stomp.js"></script>
    <script src="../js/stomp-ws.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</head>
<body>
<!-- Navigation -->
<!--div ng-include="'page-header.html'"></div-->
<div ng-include="'../page-header.html'"></div>
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h2>LabNCode Profesor</h2>
        <br><br>
    </header>
</div>
<hr>
<!-- Page Features -->
<div class="container" ng-controller="LabController as labC">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{"Laboratorio " + labC.getLaboratorio()}}</h4>
                </div>
                <div class="panel-body">
                    <div>
                        <section class="tab" ng-controller="TabController as tab">
                            <ul class="nav nav-pills">
                                <li ng-class="{active : tab.isSet(1)}">
                                    <a ng-click="tab.setTab(1)">Monitoreo</a>
                                </li>
                                <li ng-class="{active : tab.isSet(2)}">
                                    <a ng-click="tab.setTab(2)">Enunciado</a>
                                </li>
                            </ul>
                            <div ng-show="tab.isSet(2)">
                                <h4>Agregar punto</h4>
                                <form>
                                    <label>Nombre</label><br>
                                    <input  class="form-control"><br>
                                    <textarea class="form-control" placeholder="Descripción 200 caracteres máximo"></textarea><br>
                                    <input  class="form-control" type="number" placeholder="Peso 0 - 100"><br>
                                    <button  class="btn btn-primary">Agregar</button>
                                </form>
                                <h4>Puntos</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Peso</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="punto in tab.puntos">
                                            <th>{{punto.nombre}}</th>
                                            <td>{{punto.descripcion}}</td>
                                            <td>{{punto.peso}}%</td>
                                            <td>
                                                <div>
                                                    <button class="btn-danger btn-sm">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                    <button class="btn-warning btn-sm">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                </div>

                                            </td>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="tab.isSet(1)">
                                <h3>Grupos</h3>
                                <div class="row">
                                    <div style="width:200px;background:#fff;border-radius: 4px;;" class="col-xs-6 col-sm-3" ng-repeat="grupo in tab.grupos">Nombre:{{" "+grupo.nombre}}<br>Porcentaje:{{" "+grupo.porcentaje}}</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Chat</h4>
                </div>
                <div class="panel-body">
                    <div id="conversationDiv">
                        <div class="form-group">
                            <label>Enviar a:</label><br>
                            <input type="text" placeholder="idSala" style="width:100%;">
                            <p></p>
                            <textarea id="response" style="width:100%; height:60%;" disabled></textarea>
                            <p></p>
                            <input id="message" type="text" placeholder="Escriba su mensaje aquí..." style="width:83%;"><button id="send" class="btn btn-primary btn-xs">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <center>
            <p>Desarrollado por Maria Alejandra Blanco Uribe y Oscar Andres Caicedo Bedoya<br>
                2016
            </p>
        </center>
    </footer>
</div>
</body>
</html>

